{% extends 'base.html' %}

{% block content %}

<h1> Please confirm Your selection along with date !</h1>
{% with messages = get_flashed_messages() %}
         {% if messages %}
                <ul class=flashes>
                        {% for message in messages %}
                             <li>{{ message }}</li>
                         {% endfor %}
                </ul>
         {% endif %}
{% endwith %}
<form action="/roomBooked" method="POST">

{% if selected_room_id_details %}
    
    

        Room No :{{ selected_room_id_details.room_id }}
        Room type :{{ selected_room_id_details.room_type }}
        Room Price : {{ selected_room_id_details.room_price }}
        <label for="birthday">Select from:</label>
        <input type="date" id="selectFrom" name="selectFrom">
        <label for="birthday">Select to:</label>
        <input type="date" id="selectTo" name="selectTo">
        <input type="submit" value="Book">
        

{% endif %}
        <div align="right">
                <a href="{{ url_for('welcome_blueprint.logout') }}"> Logout </a>
        </div>
</form>

{% endblock %}